Source: resolvelib
Section: python
Priority: optional
Maintainer: Ansible Community Builds <ansible-community-builds@redhat.com>
Uploaders: Ansible GitHub Actions <ansible-gha@redhat.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.4
Homepage: https://github.com/sarugaku/resolvelib

Package: python3-resolvelib
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Resolve abstract dependencies into concrete ones
 ResolveLib at the highest level provides a Resolver class that includes
 dependency resolution logic. You give it some things, and a little information
 on how it should interact with them, and it will spit out a resolution result.
