---
name: jinja2
on:
  push:
    branches:
      - 'ansible-6'
  workflow_dispatch:
    inputs:
      DEB_ARCH:
        required: true
        default: amd64
      DEB_DIST:
        required: true
      DEB_RELEASE:
        required: true
        default: 1ppa
      DEB_VERSION:
        required: true
      LAUNCHPAD_PROJECT:
        required: true
      LAUNCHPAD_PPA:
        required: true
jobs:
  build_jinja2:
    name: Build jinja2
    runs-on: ubuntu-20.04
    env:
      DEB_NAME: jinja2
      DEB_ARCH: ${{ github.event.inputs.DEB_ARCH }}
      DEB_DIST: ${{ github.event.inputs.DEB_DIST }}
      DEB_RELEASE: ${{ github.event.inputs.DEB_RELEASE }}
      DEB_VERSION: ${{ github.event.inputs.DEB_VERSION }}
      LAUNCHPAD_PROJECT: ${{ github.event.inputs.LAUNCHPAD_PROJECT }}
      LAUNCHPAD_PPA: ${{ github.event.inputs.LAUNCHPAD_PPA }}
    steps:
      - name: checkout branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: run the setup action
        uses: ./.github/actions
        with:
          LAUNCHPAD_PROJECT: ${{ github.event.inputs.LAUNCHPAD_PROJECT }}
          LAUNCHPAD_PPA: ${{ github.event.inputs.LAUNCHPAD_PPA }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_OWNERTRUST: ${{ secrets.SIGNING_OWNERTRUST }}

      - name: build
        env:
          DEBSIGN_KEYID: ${{ secrets.DEBSIGN_KEYID }}
          DEBSIGN_PROGRAM: gpg --pinentry-mode loopback --passphrase-file ${HOME}/signing.passphrase
          TARBALL_BASE_URL: https://pypi.python.org/packages/source
        run: |
          echo "DEB_NAME=${DEB_NAME}"
          echo "DEB_ARCH=${DEB_ARCH}"
          echo "DEB_DIST=${DEB_DIST}"
          echo "DEB_RELEASE=${DEB_RELEASE}"
          echo "DEB_VERSION=${DEB_VERSION}"
          echo "LAUNCHPAD_PROJECT=${LAUNCHPAD_PROJECT}"
          echo "LAUNCHPAD_PPA=${LAUNCHPAD_PPA}"

          # handle different release types better in the changelog
          DEB_VERSION_EXTRA=$(echo "${DEB_VERSION}" | grep -Po '[a-z]+.*' || true)

          if [[ -n "${DEB_VERSION_EXTRA}" ]]; then
            DEB_VERSION_BASE=$(echo "${DEB_VERSION}" | grep -Po '^[\d+\.]+')
            export DEB_CHANGELOG_VERSION="${DEB_VERSION_BASE}"~"${DEB_VERSION_EXTRA}"
          else
            export DEB_CHANGELOG_VERSION="${DEB_VERSION}"
          fi

          sudo apt -y install devscripts debhelper dh-python python3-all python3-setuptools

          mkdir -p "${HOME}"/"${DEB_NAME}" && cd "$_" || exit
          rm -rf "${DEB_NAME}"-"${DEB_VERSION}"*
          wget "${TARBALL_BASE_URL}"/"${DEB_NAME:0:1}"/"${DEB_NAME}"/"${DEB_NAME}"-"${DEB_VERSION}".tar.gz -O "${DEB_NAME}"_"${DEB_VERSION}".orig.tar.gz
          tar -xzf "${DEB_NAME}"_"${DEB_VERSION}".orig.tar.gz
          cd "${DEB_NAME}"-"${DEB_VERSION}" || exit

          cp -a "${HOME}"/work/ppa/ppa/"${DEB_NAME}"/debian ./

          envsubst < "${HOME}"/work/ppa/ppa/"${DEB_NAME}"/templates/hard_code_version > debian/patches/hard_code_version

          DATE=$(date -R)
          export DATE

          for DIST in ${DEB_DIST}; do
            export DIST

            envsubst < "${HOME}"/work/ppa/ppa/"${DEB_NAME}"/templates/changelog > debian/changelog

            debuild -S -k"${DEBSIGN_KEYID}" -p"$(echo "${DEBSIGN_PROGRAM}" | envsubst)"
            dput "${LAUNCHPAD_PPA}" ../"${DEB_NAME}"_"${DEB_VERSION}"-"${DEB_RELEASE}"~"${DIST}"_source.changes
          done
